.footer-social-icons {
    width: 350px;
    display: block;
    margin: 0 auto;
    align-items: center;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
 

/* Twitter Icon */
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-twitter:hover {
    background-color: #00aced;
}

/* Instagram Icon */
.fa-instagram {
  padding:10px 12px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
}
.fa-instagram:hover {
  background-color: #00aced;
}


/* YouTube Icon */

.fa-youtube {
  padding:10px 12px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
}
.fa-youtube:hover {
  background-color: #00aced;
}


/* Github Icon */

.fa-github {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}


.fa-github:hover {
    background-color: #5a32a3;
}


/* Discord Icon */

.fa-discord {
  padding:10px 12px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #322f30;
}
.fa-discord:hover {
  background-color: #00aced;
}

/* Dev.to Icon */
.fa-dev {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
  }
.fa-dev:hover {
    background-color: #00aced;
}

/* Steam Icon */
.fa-steam {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
  }
.fa-steam:hover {
    background-color: #00aced;
}



/* Add to Discord Button (in another way it's a icon lol)*/

.add_to_discord {
    display: flex;
    align-items: center;
    background-color: blueviolet;
    border-radius: 8px;
    border: 0;
    font-weight: 600;
    font-size: 17px !important;
    line-height: 21px !important;
    color: #fff;
    padding: 27px;
    height: 58px;
    outline: none;
}
.add_to_discord svg {
    padding-right: 20px;
    box-sizing: unset;
}
.add_to_discord:hover {
    background-color: rgb(152, 67, 233);
    text-decoration: none;
  }





.header-icon {
    color: #fff;
}
ul.header-icons {
    margin-top: 10px;
}
.header-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}